.container {
    font-family: 'Great Vibes', cursive;
    margin-top: 190px;
    margin-left: 250px;
    margin-right: 25px;
}  

img {
    border: 5px solid #A5B7CD;
}

#titleHeader {
    position: fixed;
    border: 5px solid #535C67;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 175px;
    margin-left: 230px;
    background-color: #C4D9F3; 
}

h1 { 
    text-align: center;
    font-size: 40px;
    font-family: 'Great Vibes', cursive; 
  }

#headUnderline {
    border-bottom: 2px solid;
    display: inline-block;
    line-height: 100px;
    width: 700px;
}

.underline {
    border-bottom: 2px solid;
    display: inline-block;
    line-height: 50px;
}
/* the sidebar menu */
#sidenav {
    position: fixed;
    width: 200px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    color: #535C67;
    background-color: #C4D9F3;
    margin-right: 10px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.25em;
}

/* unvisited link */
a:link {
    color: #535C67;
}

/* visited link */
a:visited {
    color: #8695A6;
}

/* mouse over link */
a:hover {
    color: #A5B7CD;
}

/* selected link */
a:active {
    color: #BACEE6;
}

.ContentUnderline {
    border-bottom: 2px solid;
    display: inline-block;
    line-height: 50px;
    color: #535C67;
    margin: auto;
}

p {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

#about {
    float: right;
    width: 100%;
    background-color: #535C67; 
    color: #C4D9F3;
    border: 5px solid #A5B7CD;
}

#intro {
    text-align: center;
}

.sub-heading {
    margin-left: 200px;
}

#andrea-gurniak {
    text-align: center;
    margin-top: 100px;
    padding-top: 375px;
    color: #C4D9F3;
}

.column {
    column-count: 2;
    column-gap: 40px;
}

#in-motion {
    text-align: center;
}

